<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="numberToAuthenticate" value="972524880330" />
    <add key="numberToSendMessage" value="972524880330"/>
    <add key="userNameToSendMessage" value="amnonya"/>
    <add key="query" value="UI"/>
  </appSettings>
</configuration>
